<main class="index">
  <div class="hero d-flex">
    <div class="container text-center p-4">
      <div class="content">
        <h2 class="title">Notes App</h2>
        <p class="description">Capture your notes</p>
        <a href="/signin" class="btn btn-outline-dark">Get Started</a>
      </div>
    </div>
  </div>
</main>