<div class="container p-4">
<div class="card-header">
  <h3>Sign Up</h3>
</div>
  <div class="card-body">
    <form action="/signup" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="userHelp" autofocus>
        <div id="userHelp" class="form-text">We'll never share your username with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>

      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

  </div>